*.iml
.gradle/
/local.properties
/.idea/
/build/
/captures/
/.kotlin/
**/build/
.gradle-user-home


# Superpowers SDD workspace
.superpowers/
.opencode/
docs/
.DS_Store
*.zip
*.docx
*.jks
keystore.properties
